PlantRTests/Connected Services/PlantRRef/AccountRepository2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60563/AccountRepository.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlantRService.Model" />
  <xs:element name="AddPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plantID" type="xs:int" />
        <xs:element minOccurs="0" name="accID" type="xs:int" />
        <xs:element minOccurs="0" name="daysWater" type="xs:int" />
        <xs:element minOccurs="0" name="nName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlantRService.Model" minOccurs="0" name="AddPlantResult" nillable="true" type="q1:PersonalPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlantsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountPlants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountPlantsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlantRService.Model" minOccurs="0" name="GetPlantResult" nillable="true" type="q2:Plant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PlantRService.Model" minOccurs="0" name="GetLastPPResult" nillable="true" type="q3:PersonalPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>