PlantRTests/Connected Services/PlantRRef/PlantRServ.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlantRServ.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlantRServ.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonalPlant">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Plant">
        <xs:sequence>
          <xs:element minOccurs="0" name="AId" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="LastWatered" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NextWatered" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WDuration" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalPlant" nillable="true" type="tns:PersonalPlant" />
  <xs:complexType name="Plant">
    <xs:sequence>
      <xs:element minOccurs="0" name="CName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plant" nillable="true" type="tns:Plant" />
  <xs:complexType name="ArrayOfPlant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plant" nillable="true" type="tns:Plant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlant" nillable="true" type="tns:ArrayOfPlant" />
  <xs:complexType name="ArrayOfPersonalPlant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalPlant" nillable="true" type="tns:PersonalPlant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalPlant" nillable="true" type="tns:ArrayOfPersonalPlant" />
</xs:schema>