PlantRTests/Connected Services/PlantRRef/PlantRServ.DataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlantRServ.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlantRServ.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonalPlant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Plant" nillable="true" type="tns:Plant" />
      <xs:element minOccurs="0" name="aid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastwatered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nextwatered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pid" type="xs:int" />
      <xs:element minOccurs="0" name="wduration" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalPlant" nillable="true" type="tns:PersonalPlant" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonalPlants" nillable="true" type="tns:ArrayOfPersonalPlant" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfPersonalPlant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalPlant" nillable="true" type="tns:PersonalPlant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalPlant" nillable="true" type="tns:ArrayOfPersonalPlant" />
  <xs:complexType name="Plant">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonalPlants" nillable="true" type="tns:ArrayOfPersonalPlant" />
      <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imgurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sdays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plant" nillable="true" type="tns:Plant" />
  <xs:complexType name="ArrayOfPlant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Plant" nillable="true" type="tns:Plant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlant" nillable="true" type="tns:ArrayOfPlant" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
</xs:schema>