PlantRTests/Connected Services/PlantRRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PlantRServ" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PlantRServ.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PlantRServ.DataAccess" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PlantRServ" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PlantRServ" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PlantRServ.Model" minOccurs="0" name="GetAccountResult" nillable="true" type="q3:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PlantRServ.DataAccess" minOccurs="0" name="repo" nillable="true" type="q4:AccountRepository" />
        <xs:element minOccurs="0" name="plantID" type="xs:int" />
        <xs:element minOccurs="0" name="accID" type="xs:int" />
        <xs:element minOccurs="0" name="daysWater" type="xs:int" />
        <xs:element minOccurs="0" name="nName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PlantRServ.Model" minOccurs="0" name="AddPlantResult" nillable="true" type="q5:PersonalPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PlantRServ.DataAccess" minOccurs="0" name="repo" nillable="true" type="q6:AccountRepository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PlantRServ.Model" minOccurs="0" name="GetLastPPResult" nillable="true" type="q7:PersonalPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountRepository">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PlantRServ.DataAccess" minOccurs="0" name="GetAccountRepositoryResult" nillable="true" type="q8:AccountRepository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>