PlantRWPF/Connected Services/PlantRRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PlantRServ" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PlantRServ.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPersonalPlant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalPlant" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPersonalPlant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonalPlantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindPersonalPlant_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonalPlant" />
  </wsdl:message>
  <wsdl:message name="IService1_FindPersonalPlant_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPersonalPlantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPlants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlants" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPlants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlantsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountPlants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountPlants" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountPlants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountPlantsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlant" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPlant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLastPP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastPP" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLastPP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastPPResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemovePersonalPlant_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonalPlant" />
  </wsdl:message>
  <wsdl:message name="IService1_RemovePersonalPlant_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonalPlantResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonalPlant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPersonalPlant" message="tns:IService1_AddPersonalPlant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPersonalPlantResponse" message="tns:IService1_AddPersonalPlant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindPersonalPlant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindPersonalPlant" message="tns:IService1_FindPersonalPlant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindPersonalPlantResponse" message="tns:IService1_FindPersonalPlant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlants">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPlants" message="tns:IService1_GetAllPlants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPlantsResponse" message="tns:IService1_GetAllPlants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountPlants">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAccountPlants" message="tns:IService1_GetAccountPlants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAccountPlantsResponse" message="tns:IService1_GetAccountPlants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPlant" message="tns:IService1_GetPlant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPlantResponse" message="tns:IService1_GetPlant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastPP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLastPP" message="tns:IService1_GetLastPP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLastPPResponse" message="tns:IService1_GetLastPP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePersonalPlant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemovePersonalPlant" message="tns:IService1_RemovePersonalPlant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemovePersonalPlantResponse" message="tns:IService1_RemovePersonalPlant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonalPlant">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPersonalPlant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersonalPlant">
      <soap:operation soapAction="http://tempuri.org/IService1/FindPersonalPlant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlants">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPlants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPlants">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAccountPlants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlant">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPlant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastPP">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLastPP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePersonalPlant">
      <soap:operation soapAction="http://tempuri.org/IService1/RemovePersonalPlant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PlantRServ/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>